<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
  <head th:replace="fragments :: head"></head>
  <body>
  	<header><a class="link" href="/">get back to notes</a></header>
    <marquee behavior="alternate">
      <h1 class="h1">You've been Rickroll'd!</h1>
    </marquee>
    <div class="center">
      <iframe width="640" height="480" src="https://www.youtube.com/embed/oHg5SJYRHA0?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <img class="gif" src="https://thumbs.gfycat.com/AnguishedJauntyBluebreastedkookaburra.webp">
    <div class="wrapper">
      <img src="https://media.giphy.com/media/ZE5DmCqNMr3yDXq1Zu/giphy.gif">
    </div>
  </body>
</html>