<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
  <head th:replace="fragments :: head"></head>
  <body>
  	<header><a class="link" href="/elsewhere">go someplace else</a></header>
    <div class="container">
      <div class="form">
        <form action="#" th:action="@{/}" th:object="${note}" method="POST">
          <p><strong>Add new note:</strong></p>
          <input type="text" name="note" placeholder="Enter note here (up to 50 characters)" th:field="*{content}" maxlength="50">
          <p>Select a color:</p>
          <div class="color-group">
            <input class="color-radio" type="radio" id="pink" name="color" value="pink">
            <label class="radio" for="pink"><span class="pink"></span></label>
            <input class="color-radio" type="radio" id="yellow" name="color" value="yellow" checked="checked">
            <label class="radio" for="yellow"><span class="yellow"></span></label>
            <input class="color-radio" type="radio" id="green" name="color" value="green">
            <label class="radio" for="green"><span class="green"></span></label> 
            <input class="color-radio" type="radio" id="blue" name="color" value="blue">
            <label class="radio" for="blue"><span class="blue"></span></label> 
            <input class="color-radio" type="radio" id="purple" name="color" value="purple">
            <label class="radio" for="purple"><span class="purple"></span></label> 
          </div>
          <p>Select a font:</p>
          <div>
            <input class="font-radio" type="radio" id="normal" name="font" value="normal" checked="checked">
            <label class="normal" for="normal">Shadows Into Light</label>
          </div>
          <div>
            <input class="font-radio" type="radio" id="cursive" name="font" value="cursive">
            <label class="cursive" for="cursive">La Belle Aurore</label>
          </div>
          <div>
            <input class="font-radio" type="radio" id="marker" name="font" value="marker">
            <label class="marker" for="marker">Permanent Marker</label> 
          </div>
          <input id="submit" class="submit" type="submit" value="+">
        </form>
      </div>
      <div th:each="note, stat : ${notes}">
        <div class="note" th:text="${note.getContent()}" th:classappend="${note.getColor()} + ' ' + ${note.getFont()}"></div>
      </div>
    </div>
  </body>
</html>